.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f6f6;
}
li.slide{
    display: flex;
    align-items: center
}
 
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.connect-wallet {
  padding: 10px;
  background-color: #2d9cdb;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.green-button {
  padding: 10px;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.purple-button {
  padding: 10px;
  background-color: purple;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.yellow-button {
  padding: 10px;
  background-color: #f1c40f;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.red-button {
  padding: 10px;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}
.img-container{
  width: 720px;
    height: 300px
}
.img-container .img-thumbnail{
    height: 100%;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    object-fit: cover;
    border-radius: 10px;
}
.thumbs.animated{
  display: none;
}
a{
  text-decoration:none;
  color: white;
}
.org{
  padding: 100px;
  display:flex;
  justify-content:center 
}